.containerMain-logo{
    padding: 50px;
    grid-area: logo;
}

.navBarHome{
    padding: 50px;
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: white;
    grid-area: navBar;
    justify-content: end;

    @include animation-navBar();

    }

    