.containerMusic{
    margin: 75px 0px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 25px 0px;

    a{
        display: flex;
        justify-content: center;
    }

    img{
        width: 85%;
        height: 85%;
        -webkit-filter: grayscale(100%);
	    filter: grayscale(85%);
	    -webkit-transition: .1s ease-in-out;
	    transition: 3.5s ease-in-out;
    }

    img:hover{

        -webkit-filter: grayscale(0);
	    filter: grayscale(0);
    }

    a img:hover{
        transform: scale(1.08);
        transition: transform 1000ms;
    }
}

